<div class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-md-6">
          <p>New commission</p>
        </div>
        <div class="col-md-6">
          <button
            style="float: right"
            mat-stroked-button
            routerLink="/customer/{{ customerId }}"
          >
            Kamisheni zote
          </button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="description">
        <h3><b>Faidika</b>, ukiweka au kutoa hela hapa.</h3>
        <h3>Pata <b>Gawio</b> kutoka kwenye kamisheni.</h3>
      </div>
    </div>
  </div>
</div>
